.body {
	padding: 10px 150px 10px 150px;
	border-radius: 10px;
	background-image: url("Assets/Old Paper.jpg");
	background-size: cover;
	text-align: center;
}

.image {
	width: 100px;
}

.image:active {
	width: 90px;
}

a:link {
	text-decoration: none;
}

.experience {
	font-size: 42px;
}

.line {
		height: 2px;
		width: 100%;
		background-color: black;
}

h1 {
	font-size: 50px;
	font-family: 'Garamond';
	margin-bottom: -25px;
}

h2 {
	font-size: 30px;
	font-family: 'Garamond';
	margin-bottom: -6px;
}

h3 {
	font-size: 26px;
	font-family: 'Garamond';
	font-weight: bold;
	margin: auto;
}

h4 {
	font-size: 22px;
	font-family: 'Garamond';
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

h5 {
	font-size: 22px;
	font-family: 'Garamond';
	text-align: left;
	padding-top: 20px;
}

p {
	font-size: 18px;
	font-family: 'Garamond';
}

.p2 {
	font-size: 20px;
	font-family: 'Garamond';
	text-align: left;
	}

.profileDescription {
font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sub-profile {
	display: flex;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

.education {
	display: block;
	width: 50%;
	height: 100%;
}

.areasOfExpertise {
	display: block;
	width: 50%;
	height: 100%;
}

li {
	font-size: 18px;
	font-family: 'Garamond';
	margin: auto;
	padding-left: 10px;
}

.list {
	font-size: 18px;
	font-family: 'Garamond';
	margin: auto;
	padding-top: 5px;
}

.role {
	padding-top: 15px;

}

.footer {
	padding-top: 50px;
}
